body{height: 1500px;}
.container{
	position: fixed;
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

/*1、这是标题部分：*/

.pop-header{
	padding: 0 20px;
	height: 40px;
	background-color: #eee;
}
.pop-header p{
	margin: 0;
	font: 14px "微软雅黑";
	line-height: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.image{
	position: absolute;
	width: 10px;
	height: 10px;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

/*2、这是主体部分*/

.content{
	margin: 20px 20px 0;
	font: 12px "微软雅黑";
	line-height: 1.5;
}

/*button 按钮*/

button{
	display: block;
	width: 80px;
	height: 30px;
	text-align: center;
	border-style: none;
	border-radius: 5px;
	margin: 20px auto;
	cursor: pointer;
	background: #00f;
	color: #fff;
}
